.form__input
  background-color #fff
  font-size 21px
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, .3);
  color black
  border-radius: 5px;
  padding 8px 7px
  width 35vw
  outline none
  border 0
  ::-webkit-input-placeholder
    color rgba(1,1,1, 0.3)

